@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

body {
  margin: 0;
  font-family: "OpenSans";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.section-padding {
  padding-inline: 25px;
}
.top-bar {
  padding-block: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.bottom-bar {
  padding-block: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
}
.top-bar h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}
.bottom-bar h2 {
  color: #109e6c;
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 1.8rem;
}
.bottom-bar h2 sup {
  font-size: 8px;
  margin: 0;
  font-weight: 600;
}
.top-bar p {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
}
.bottom-bar a {
  text-transform: uppercase;
  color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
}

.home-img {
  width: 20px !important;
}
.hero-banner {
  position: relative;
  background-image: url(../Images/hero-tall-002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 85.5vh;
}
.left-content {
  width: 50%;
}
.left-content .flare-text {
  width: 80%;
}
.left-content .left-content {
  position: absolute;
  top: 0;
  left: 25px;
}
.blocks {
  margin-top: -130px;
}

.blocks h3 {
  color: white;
  font-weight: 400;
  font-size: 1.8vw;
}
.flex-goal {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  /* align-items: center; */
}
.flex-goal img {
  width: 30px;
}
.goal-img {
  display: flex;
  align-items: center;
}
.flex-goal p a {
  color: #7db658;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}
.flex-goal span {
  border-right: 1px solid lightgray;
}
.flex-goal p {
  color: white;
  font-size: 17px;
}
.bx-1 {
  padding: 20px;
  background-color: #105533;
  color: white;
  width: 180px;
  border-radius: 4px;
}
.bx-1 p {
  font-size: 15px;
  font-weight: 600;
  margin-top: 8px;
}

.bx-1 a {
  font-weight: 600;
  font-size: 22px;
}
.flex-boxes {
  margin-top: 35px;
  display: flex;
  gap: 20px;
}
.chevron {
  color: #8cad9b;
}
.bx-1.bx-2 {
  background-color: #348b65;
}
.hero-banner {
  display: flex;
  justify-content: space-between;
}
.right-content {
  padding: 20px;
  width: 300px;
  height: 100%;
  color: white;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.546);
}
.right-content h3 {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.right-content h4 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 7px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}
.form input {
  border-radius: 3px;
  padding: 13px 12px;
  outline: none;
  border: none;
}
.form input::placeholder {
  color: rgb(170, 170, 170);
  font-size: 19px;
  font-weight: 500;
  font-family: "OpenSans";
  /* letter-spacing: -1px; */
}
.sign-btn img {
  width: 22px;
}
.mttop {
  margin-top: 25px;
}
.sign-btn {
  background-color: #00a15f;
  padding: 12px;
  cursor: pointer;
  justify-content: center;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}
@media (min-width: 1500px) {
  .blocks {
    margin-top: -170px;
  }
  .left-content .flare-text {
    width: 90%;
  }
}
@media (min-width: 1800px) {
  .blocks {
    margin-top: -200px;
  }
  .left-content .flare-text {
    width: 90%;
  }
}
@media (min-width: 2000px) {
  .blocks {
    margin-top: -240px;
  }
  .left-content .flare-text {
    width: 90%;
  }
}
